[submodule "xmos_cmake_toolchain"]
	path = xmos_cmake_toolchain
	url  = git@github.com:xmos/xmos_cmake_toolchain # grouping some CMAKE utilities
	branch = main
[submodule "modules/i2c"]
	path = modules/i2c
	url  = git@github.com:xmos/lib_i2c			 # adding lib assert and cmake to the repo 
	branch = develop
[submodule "modules/core"]
	path = modules/core
	url  = git@github.com:xmos/fwk_core						# xcore math inside the repo
	branch = develop
[submodule "modules/xassert"]
	path = modules/xassert
	url = git@github.com:xmos/lib_xassert.git
[submodule "tests/Unity"]
	path = tests/Unity
	url  = git@github.com:xmos/Unity						# unit testing
	branch = develop
  
